<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <title>Connexion</title>
         {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/minlogo-black-hl.png') }}" />
        <link rel="stylesheet" type="text/css" href="{{asset('vendor/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('css/animate.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset('css/font-awesome.min.css')}}"/>
        
        {% stylesheets 

        

            'css/news_css/main.css'
         filter='cssrewrite, yui_css' %}
         <link rel="stylesheet" href="{{ asset_url }}" />
         {% endstylesheets %}
        {% endblock %}
    </head>

    <body>

        <div class="row">
            <div class="col-md-12">
                <div class="bg-connect left-connect">
                    <div class="title mg-top-big-xl">
                        <h1>Connexion</h1>
                    </div>
                    <form class="form-horizontal" action="{{path('loginCheck',{}) }}"method="post">

                        <div class="form-group">
                            <label for="inputEmail3" class="control-label"></label>
                            <div class="col-sm-12  mg-top-md">
                                <div class="input-group">
                                    <span class="input-group-addon-connect"><i class="fa fa-user txt-color-primary"></i></span>
                                    <input type="text" name="_username" class="form-control-connect" id="inputEmail3" placeholder="Pseudo">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="control-label"></label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon-connect"><i class="fa fa-unlock-alt"></i></span>
                                    <input type="password" name="_password" class="form-control-connect" id="inputPassword3" placeholder="Mot de passe">
                                </div>
                            </div>
                            <br><br><br><br>
                            <div class="form-group">
                                <div class="col-sm-12 txt-center mg-top-big-xl">
                                    <input type="submit" class="btn btn-connect" value="connexion" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="bg-connect right-connect swatches-primary">
                    <div class="logo-connect mg-top-big-xl">
                        <img src="{{ asset('./images/big-logoX2.png') }}"/>
                    </div>
                    <div class="copy-propuls txt-color-white">
                        <p>Site propulsé par HL Developerz</p>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="credit">
                    <p>HL Developerz &copy 2017 Tous droits réservés</p>
                </div>
                <div class="social-content">
                    <a class="social" href="https://www.facebook.com/profile.php?id=100012393211839" target="new"><i class="fa fa-facebook"></i></a>
                    <a class="social" href="https://twitter.com/hugueslegerweb" target="new"><i class="fa fa-twitter"></i></a>
                    <a class="social" href="https://www.behance.net/pale34b48d" target="new"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </footer>
    </div>
     {% block javascripts %}
    <script type="text/javascript" src="{{asset('vendor/jquery.min.js')}}"></script>
     {% endblock %}
</body>
</html>


