{% extends ":site:index.html.twig"%}

{% block title %}Webdesign & Graphisme{% endblock %}
{% block loader %}{% endblock %}

{% block section %}

<div class="pos-mobile">    
    <div class="title-rubrique padd-sm mg-bottom-xl">
        <h2 class="txt-color-webdesign big-title no-mg">work</h2>
        <p class="txt-color-primary no-mg">Webdesign & Graphisme</p>
    </div>

    <div class="image-print">
        <div class="" id="projectprint">
            {% for projetprint in projectsprint [0:] %}
                {% if loop.index == 1 %}
                    <div class="container-fluid">
                        <div class="txt-present-print">
                            <img src="{{asset('uploads/img/')~projetprint.images}}" class="img-responsive">
                            <div class="col-md-10 txt-print">
                                <span class="new new-{{projetprint.colorTxt}}">new</span>
                                <h3 class="thumb-title line-projet-print txt-print-{{projetprint.colorTxt}}">{{projetprint.name}}
                                    <span class="thumb-desc txt-print-{{projetprint.colorTxt}}">{{projetprint.annee|date('Y')}}</span></h3>
                                <p class="thumb-desc txt-print-{{projetprint.colorTxt}}">{{projetprint.description|truncate(60, true, ' ...')}}</p>
                            </div>
                            <div id="plus" class="col-md-2 btn-print-detail txt-print-{{projetprint.colorTxt}}">
                                <a href="{{path("detailprint",{"id":projetprint.id})}}"><img src="{{ asset('./images/cmyk.svg')}}" class="icon-cmyk"><span class="envoirplus">View <span class="link-view-print">project</span></span></a>            
                            </div>
                        </div>
                    </div>

                {% elseif loop.index <= 5 %}
                    <div class="container-fluid wow slideInUp" data-wow-duration="1200ms" data-wow-delay="700ms">
                        <div class="padd-big-xl {% if loop.index is divisible by(2) %}swatches-grey{% else %}swatches-white {% endif %}" >
                            <div class="img-shadow-print {% if loop.index is divisible by(2) %}img-present-print-left{% else %}img-present-print-right{% endif %}">
                                <img src="{{asset('uploads/img/')~projetprint.images}}"class="img-responsive"> 
                                <div class="{% if loop.index is divisible by(2) %}info-content-print{% else %}info-content-print-right{% endif %}">             
                                    <h3 class="wrap-print-name txt-color-white">{{projetprint.name}}</h3>
                                    <p class="thumb-desc txt-print txt-color-white">{{projetprint.annee|date('Y')}}</p>
                                    <p class="wrap-meta-txt-print txt-color-white">{{projetprint.description|truncate(25, true, ' ...')}}</p>     
                                    <a class="btn-link-more-print txt-color-white color-dark-mobile" href="{{path("detailprint",{"id":projetprint.id})}}" role="button">View <span class="link-view-print">project</span></a>                                 
                                </div>
                            </div>       
                        </div>
                    </div>

                {% elseif loop.index > 5 %}
                    <div id="moreThumb">
                        <div class="container-fluid wow slideInUp" data-wow-duration="1200ms" data-wow-delay="700ms">
                            <div class="padd-big-xl {% if loop.index is divisible by(2) %}swatches-grey{% else %}swatches-white{% endif %}"{#{% if loop.index is divisible by(2) %}data-midnight="color-hamb"{% else %}{% endif %}#}>
                                <div class="img-shadow-print {% if loop.index is divisible by(2) %}img-present-print-left{% else %}img-present-print-right{% endif %}">
                                    <img src="{{asset('uploads/img/')~projetprint.images}}"class="img-responsive">
                                    <div class="{% if loop.index is divisible by(2) %}info-content-print{% else %}info-content-print-right{% endif %}">  
                                        <h3 class="wrap-print-name txt-color-white">{{projetprint.name}}</h3>
                                        <p class="thumb-desc txt-print txt-color-white">{{projetprint.annee|date('Y')}}</p>
                                        <p class="wrap-meta-txt-print txt-color-white">{{projetprint.description|truncate(25, true, ' ...')}}</p>
                                        <a class="btn-link-more-print txt-color-white color-dark-mobile" href="{{path("detailprint",{"id":projetprint.id})}}" role="button">View <span class="link-view-print">project</span></a>  
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="all-galerie wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="700ms" id="btnMoreThumb">
        <div class="btn-lien-all">
            <a class="btn btn-all-print" role="button">En voir +</a>
        </div>
    </div>
</div>
   

{% endblock%}


