{% extends ":site:index.html.twig"%}

{% block title %} | Travaux web{% endblock %}

{% block section %}
    
              {% block ariane %}<ol class="breadcrumb">
  <li><a href="{{path('home')}}">Home</a></li>
  <li  class="active">Travaux Web</li>
</ol>{% endblock %}
    <div class="container">
        <div class="row">

       {% for projet in projects %}

      <div class="col-sm-6 col-md-4">
    <div class="thumb-work">
      <img src="{{asset('uploads/img/')~projet.images}}" class="thumb-img">
      <div class="thumb-effect">
        <p class="thumb-title">{{projet.titre}}</p>
      </div>
      <div class="thumb-effect-2">
      <p class="thumb-title">{{projet.descriptif}}</p>
      
      <a class="fa fa-plus-circle" href="{{path("detailprojets",{"id":projet.id})}}">En voir +</a>
      </div>
    </div>
    </div>
 
 {% endfor %}
  </div>

</div>
 {% block javascript %}
     {% endblock%}
{% endblock%}
