{% extends ":site:index.html.twig"%}

{% block title %}Web{% endblock %}
{% block loader %}{% endblock %}
{% block section %}
    <div class="pos-mobile">
    <div class="title-rubrique padd-sm mg-bottom-xl">
        <h2 class="txt-color-web big-title no-mg">work</h2>
        <p class="txt-color-primary no-mg">Web/Front & Back</p>
    </div>

    <div class="container-fluid mg-bottom-xl" id="workWeb" data-midnight="color-hamb">
        {% for projet in projects %}
            <div class="panel-web">       
                <div class="p_inside">
                    <div class="line-projet"><p class="number-projet">{{projet.annee|date('/Y')}}</div>
                    <a class="overdark" href="{{path("detailprojets",{"id":projet.id})}}"></a>
                    <img class="panel-img" src="{{asset('uploads/img/')~projet.images}}" data-adaptive-background>
                    <a href="{{path("detailprojets",{"id":projet.id})}}"></a>
                    <div class="infos-web">
                        <div class="infos-web-title">
                            <h2 class="line-title-web">{{projet.titre}}</h2>
                        </div>

                        <p class="infos-web-desc">{{projet.descriptif}}</p>
                        <i class="diamond fa fa-diamond"></i>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="cleared"></div>
    </div>
   
{% endblock%}



