{% extends ":site:index.html.twig"%}

{% block section %}

  {% block ariane %}<ol class="breadcrumb">
  <li><a href="{{path('home')}}">Home</a></li>
  <li><a href="{{path('travauxweb')}}">Travaux Web</a></li>
   {% for projetdetail in projectsdetail %}
  <li class="active">Détail {{projetdetail.Societe}}</li>
  {% endfor %}
</ol>{% endblock %}
    <div class="container">
        <div class="row">
       {% for projetdetail in projectsdetail %}
      <div class="col-sm-6 col-md-4">
    <div class="thumb-work">
       <img src="{{projetdetail.imgPresentation}}" class="img-responsive img col-md-5">
        <h2 class="">{{projetdetail.descriptionSociete}}</h2>
     
      <p class="">{{projetdetail.societe}}</p>
      <p class="">{{projetdetail.annee}}</p>
       <p class="">{{projetdetail.realisations}}</p>
        <p class="">{{projetdetail.imgTemplate}}</p>
         <p class="">{{projetdetail.descriptionTemplate}}</p>
          <p class="">{{projetdetail.lienSite}}</p>
      
      </div>
    </div>
    </div>
 
 {% endfor %}
  </div>

</div>
{% endblock%}
