{#{% extends ":site:index.html.twig"%}

{% block title %} | Travaux web{% endblock %}

{% block section %}
    
              {% block ariane %}<ol class="breadcrumb">
  <li><a href="{{path('home')}}">Home</a></li>
  <li  class="active">Travaux Web</li>
</ol>{% endblock %}
    <div class="container">
        <div class="row">

       {% for projet in projects %}

      <div class="col-sm-6 col-md-4">
    <div class="thumb-work">
      <img src="{{asset('uploads/img/')~projet.images}}" class="thumb-img img-responsive">
      <div class="thumb-effect">
        <p class="thumb-title">{{projet.titre}}</p>
      </div>
      <div class="thumb-effect-2">
      <p class="thumb-title">{{projet.descriptif}}</p>
      
      <a class="fa fa-plus-circle" href="{{path("detailprojets",{"id":projet.id})}}">En voir +</a>
      </div>
    </div>
    </div>
 
 {% endfor %}
  </div>

</div>
 {% block javascript %}
     {% endblock%}
{% endblock%}
#}


{#{% extends ":site:index.html.twig"%}

{% block title %} | Travaux web{% endblock %}

{% block section %}
    
              {% block ariane %}<ol class="breadcrumb">
  <li><a href="{{path('home')}}">Home</a></li>
  <li  class="active">Travaux Web</li>
</ol>{% endblock %}

    <div class="container-fluid gal-position">
       
       {% for projet in projects %}
           
             <div class="col-sm-4 col-md-3">
                 <div class="thumb-gal" id="{{projet.id}}">
    <div class="folio-item-web">
      <div class="folio-image-web">
          <img src="{{asset('uploads/img/')~projet.images}}" class="img-responsive">
           </div>
           
               <div class="overlay-web">
            <div class="overlay-web-content">
              <div class="overlay-web-text">
               
                <div class="folio-overview">
                    <span class="folio-link"><a class="folio-read-more" href="{{path("detailprojets",{"id":projet.id})}}"><i class="fa fa-link"></i></a></span>
                </div>
              </div>
                
            </div>
                </div>
                 <div class="folio-info-web">
                     <div class="col-md-6">
                         <h4>client</h4>
                  <p>{{projet.titre}}<p>
                     </div>
                     <div class="col-md-6">
                         <h4>description</h4>
                  <p>{{projet.descriptif}}</p>
                     </div>
                </div>
    </div>
                     
      </div>
    </div>
 
 {% endfor %}
    </div>
 {% block javascript %}
     {% endblock%}
{% endblock%}#}



{#{% extends ":site:index.html.twig"%}

{% block title %} | Travaux web{% endblock %}
{% block loader %}{% endblock %}
{% block section %}
    
              {% block ariane %}<ol class="breadcrumb">
  <li><a href="{{path('home')}}">Home</a></li>
  <li  class="active">Travaux Web</li>
</ol>{% endblock %}

    <div class="container-fluid block-web">
       
       {% for projet in projects %}
           <div id="{{projet.id}}">
         <div class="col-sm-6 col-md-6">
             <div class="thumb-item-web">
             <div class="thumb-web">
             <img src="{{asset('uploads/img/')~projet.images}}" class="img-responsive">
             </div>
             <div class="content-txt-web">
     

                     <div class="client-web col-md-6">
                         <h4 class="title-client col-md-3">client</h4>
                  <p class="txt-client col-md-5">{{projet.titre}}<p>
                     </div>
                     <div class="description-web col-md-6">
                         <h4 class="title-description col-md-3">works</h4>
                  <p class="txt-description col-md-6">{{projet.descriptif}}</p>
                     </div>
                      <div class="overlay-link-web">
 
                     <p class="txt-projet-web">projet</p>
                     <p class="folio-link-web"><a class="folio-read-more-web" href="{{path("detailprojets",{"id":projet.id})}}">{{projet.id}}</a></p>
                    </div>
             </div>
             </div>
                    
         </div>
           </div>
 
 {% endfor %}
    </div>
 {% block javascript %}
     {% endblock%}
{% endblock%}


#}{% extends ":site:index.html.twig"%}

{% block title %} | Travaux web{% endblock %}
{% block loader %}{% endblock %}



{% block section %}
    
  

   
       
        <div class="title-rubrique padd-sm mg-bottom-xl">
            <h2 class="txt-color-web big-title no-mg">work</h2>
            <p class="txt-color-primary no-mg">Web/Front & Back</p>
        </div>
     <div class="container-fluid mg-bottom-xl" id="workWeb" data-midnight="color-hamb">
        {#<div id="Panel">#}
       {% for projet in projects %}
          <div class="panel">
            
        <div class="p_inside">
            <div class="line-projet"><p class="number-projet">{{projet.annee|date('/Y')}}</div>
                <a class="overdark" href="{{path("detailprojets",{"id":projet.id})}}"></a>
            <img class="panel-img" src="{{asset('uploads/img/')~projet.images}}" data-adaptive-background>
           
            
           {# <a class="folio-read-more-web" href="{{path("detailprojets",{"id":projet.id})}}"><i class="link-web fa fa-camera-retro" aria-hidden="true"></i></a>#}
             {#<a href="{{path("detailprojets",{"id":projet.id})}}"><img src="{{ asset('./images/diamond.svg')}}" class="icon-diamond"></a>#}
             <a href="{{path("detailprojets",{"id":projet.id})}}"></a>

                <div class="infos-web">
                    <div class="infos-web-title">
                <h2 class="line-title-web">{{projet.titre}}</h2>
                    </div>
                <p class="infos-web-desc">{{projet.descriptif}}</p>
                <i class="diamond fa fa-diamond"></i>
                </div>
        </div>
                    </div>
                
  
   
 
 {% endfor %}
</div>
 <div class="cleared"></div>
 
    



 {% block javascript %}
     {% endblock%}
{% endblock%}


