{% extends ":site:index.html.twig"%}
{% block loader %}{% endblock %}
{% block section %}

  {% block ariane %}
      <ol class="breadcrumb light degrader ">
  <li><a href="{{path('home')}}">Home</a></li>
  <li><a href="{{path('travauxweb')}}">Travaux Web</a></li>
  <li class="active">Détail</li>
</ol>
       {% endblock %}
      <div class="container-fluid">
       {% for projet in projects %}
           
      <div class="row">
    <div class="detail-work">
        <div class="img-header">
       <img src="{{asset('uploads/img/')~projet.imgPresentation}}" class="img-responsive img">
        </div>
       <div class="container title-header-print">
        <h2 class="">{{projet.descriptionSociete}}</h2>
        </div>
     <p class="">{{projet.titre}}</p>
      <p class="">{{projet.annee|date('d/m/y')}}</p>
       <p class="">{{projet.realisations}}</p>
       <img src="{{asset('uploads/img/')~projet.imgLogo}}" class="img-responsive img">
        <img src="{{asset('uploads/img/')~projet.imgTemplate}}" class="img-responsive img">
         <p class="">{{projet.descriptionTemplate}}</p>
          <p class="">{{projet.lienSite}}</p>
      

    </div>
    
   </div>
 {% endfor %}

      </div>

 {% block javascript %}
     {% endblock%}
{% endblock%}
