{% extends ":admin:index.html.twig"%}
{#{% block navadd %} {% endblock %}#}
{% block body %}
 {% block nb %}   
      {% endblock%}
{% block workweb %}
    {% endblock%}
 {% block workprint %}
        {% endblock%}
 {% block workgalerie %}
        {% endblock%}
<body>
    
    <div class="project-content">
       
       
<div class="bg-form">
            {% block ariane %}
             <ol class=" ariane-admin breadcrumb">
  <li class="txt-color-primary"><a href="{{path('admin')}}">Home</a></li>
  <li class="txt-color-primary"><a href="{{path('projectscaroussel')}}">Slider</a></li>
  <li  class="active"> Edit</li>
</ol>
             {% endblock %}
<div class="container">
 <div class="block-project">
{% if id is defined%}
{{form_start(formNewsCaroussel,{'attr':{'action':path('updatecaroussel',{'id':id}),'enctype':'multipart/form-data'}})}}
{% else%}
 {{form_start(formNewsCaroussel,{'attr':{'action':path('validcaroussel'),'enctype':'multipart/form-data'}})}}
{% endif%}
        <div class="row">
<div class="col-sm-6 col-md-12 col-md-offset-1">


    <h1 class="title-form"><i class="icon-add-form fa fa-camera-retro"></i>Image</h1>
<div class="input-group col-md-12"><span class="input-group-addon">Image</span>{{form_widget(formNewsCaroussel.images,{'attr':{'class':('form-control')}})}}</div>

</div>



    <div class="col-sm-6 col-md-12 col-md-offset-1">
        
        <div class="input-group"><span class="input-group-addon publier">Publier</span>{{form_widget(formNewsCaroussel.publier,{'attr':{'class':('form-group ')}})}}</div>
        <div class="input-group right">{{form_widget(formNewsCaroussel.sauvegarder,{'attr':{'class':('btn btn-success ')}})}}</div>
        
    </div>

        
        {{form_end(formNewsCaroussel)}}
        

    </div>

</div>
</div>
    </div>
    </body>
    {% endblock %}


