{% extends ":admin:index.html.twig"%}
{#{% block navadd %} {% endblock %}#}
{% block body %}
 {% block nb %}   
      {% endblock%}
{% block workweb %}
    {% endblock%}
 {% block workprint %}
        {% endblock%}
 {% block workgalerie %}
        {% endblock%}

<body>
        <div class="project-content">
       
       

<div class="bg-form">
                {% block ariane %}
             <ol class=" ariane-admin breadcrumb">
  <li><a href="{{path('admin')}}">Home</a></li>
  <li  class="active"> Edit Galerie</li>
</ol>
             {% endblock %}
<div class="container">
 <div class="block-project">
     
{% if id is defined%}
{{form_start(formNewsGalerie,{'attr':{'action':path('updategal',{'id':id}),'enctype':'multipart/form-data'}})}}
{% else%}
 {{form_start(formNewsGalerie,{'attr':{'action':path('validgal'),'enctype':'multipart/form-data'}})}}
{% endif%}
        <div class="row">
<div class="col-sm-6 col-md-12 col-md-offset-1">


    <h1 class="title-form"><i class="icon-add-form fa fa-camera-retro"></i>Miniature</h1>
<div class="input-group col-md-12"><span class="input-group-addon">Titre</span>{{form_widget(formNewsGalerie.titre,{'attr':{'class':('form-control')}})}}</div>

 <div class="input-group col-md-12"><span class="input-group-addon">Description</span>{{form_widget(formNewsGalerie.description,{'attr':{'class':('form-control')}})}}</div>

 <div class="input-group col-md-12"><span class="input-group-addon">Techniques</span>{{form_widget(formNewsGalerie.technique,{'attr':{'class':('form-control')}})}}</div>

<div class="input-group col-md-12"><span class="input-group-addon">Image Thumbnail</span>{{form_widget(formNewsGalerie.imageMin,{'attr':{'class':('form-control')}})}}</div>

</div>
<div class="col-sm-6 col-md-12 col-md-offset-1">


<h1 class="title-form"><i class="icon-add-form fa fa-search-plus"></i>Détail</h1>
<div class="input-group col-md-12"><span class="input-group-addon">Image 1</span>{{form_widget(formNewsGalerie.imageDetail,{'attr':{'class':('form-control')}})}}</div>
</div>



    <div class="col-sm-6 col-md-12 col-md-offset-1">
        
        <div class="input-group"><span class="input-group-addon publier">Publier</span>{{form_widget(formNewsGalerie.publier,{'attr':{'class':('form-group ')}})}}</div>
        <div class="input-group right">{{form_widget(formNewsGalerie.sauvegarder,{'attr':{'class':('btn btn-success ')}})}}</div>
        
    </div>

</div>
        
        {{form_end(formNewsGalerie)}}
        

    
</div>
</div>
</div>
        </div>
    </body>
    {% endblock %}


