{%extends ":admin:index.html.twig"%}



{% block body %}
     {% block nb %}   
      {% endblock%}
{% block workweb %}
    {% endblock%}
 {% block workprint %}
        {% endblock%}
 {% block workgalerie %}
        {% endblock%}

   <div class="project-content">
          {% block ariane %}
             <ol class=" ariane-admin breadcrumb">
  <li><a href="{{path('admin')}}">Home</a></li>
  <li  class="active">Mon profil</li>
</ol>
             {% endblock %}
        
          
             <div class="project-admin-compte"> 
  <div class="col-md-6 block-left-infos">
       {{form_start(formUser,{'attr':{'action':path('modifUser',{'id':id}),'enctype':'multipart/form-data'}})}}
                    <div class="input-group champ col-md-8">
                        <h4>Identifiant</h4>
                        
                        {{ form_widget(formUser.name, { 'attr': {'class': 'form-control',disabled:'false'} })}}
                        
                    </div>
                        <a class="modif-compte col-md-3">
    <i class="fa fa-pencil" id="edit-compte"></i>
    <i class="fa fa-close" id="edit-compte-close"></i>
  </a>
        
                     <div class="input-group champ col-md-8">
                        <h4>Mot de passe</h4>
                        <input type="password"{{ form_widget(formUser.pass, { 'attr': {'class': 'form-control',disabled:'false'} })}}
                    </div> 
                        <a class="modif-compte col-md-3">
    <i class="fa fa-pencil" id="edit-pass"></i>
    <i class="fa fa-close" id="edit-pass-close"></i>
    
  </a>
                  {# <div class="boutonCompte">
                        {{ form_widget(formUser.envoyer, { 'attr': {'class': 'btn btn-success'} })}}
                    </div> #}
                   <div class="col-md-12 btn-profil">
                         {{ form_widget(formUser.enregistrer, { 'attr': {'class': 'btn btn-success'} })}}
                    </div> 
                </div>  
               
  </div>
                  
                 <div class="col-md-6 block-right-infos">
                      <div class="name-admin"><i class="fa fa-user"></i>Hello {{(app.user.name)}}</div>
                     <div class="img-profil">
                         <img src="{{ asset('./images/moi.png') }}" class="img-circle col-md-6">
                         
                     </div>
                          
                     
                     
  </div>
             </div>        
   
   </div>
{% endblock %}
