{%extends ":admin:index.html.twig"%}



{% block body %}
    <div class="titre-connexion">
        <h1>Mon compte </h1>
    </div>
        <div class="container monCompte">
            <div class="row">
       
                <div class="col-sm-8 col-md-8 col-md-offset-1 thumbnail thumbInfo">
                    <h2 class="infoProfil">Les informations sur mon compte</h2>
                    
                    <p class="nom">Mon nom d'utilisateur : {{(app.user.name)}}</p>
  
        
                </div>  

                <div class="col-sm-8 col-md-8 col-md-offset-1 thumbnail thumbInfo">
                    <h2 class="infoProfil">Modifier mes informations</h2>

                    {{form_start(formUser,{'attr':{'action':path('modifUser',{'id':id}),'enctype':'multipart/form-data'}})}}
                    <div class="input-group champ">
                        <span class="input-group-addon" >Nom</span>
                        {{ form_widget(formUser.name, { 'attr': {'class': 'form-control'} })}}
                    </div>
                  
                    <div class="input-group champ">
                        <span class="input-group-addon">Mot de passe</span>
                        <input type="password"{{ form_widget(formUser.pass, { 'attr': {'class': 'form-control'} })}}
                    </div>
                 
                    <div class="boutonCompte">
                        {{ form_widget(formUser.envoyer, { 'attr': {'class': 'btn btn-default'} })}}
                    </div>
                </div> 
            </div>
        </div>
    </div>
{% endblock %}
