{% extends ":admin:index.html.twig"%}

{% block body %}
    {% block nb %}   
      {% endblock%}
{% block workweb %}
    {% endblock%} 
{% block workprint %}
    {% endblock%}            
 {% block workgalerie %}
    {% endblock%}        
         <div class="project-content">  
              {% block ariane %}
             <ol class=" ariane-admin breadcrumb">
  <li><a href="{{path('admin')}}">Home</a></li>
  <li  class="active">Travaux print</li>
</ol>
             {% endblock %}
   <<div class="container-fluid">
   <div class="container project-admin">  
        <div class="row">
       {% for projetprint in projectsprint %}
            <div class="project-img">
      <div class="col-md-3">
          <div class="thumbnail-project-print">
      <img src="{{asset('uploads/img/')~projetprint.images}}" class="img-responsive">
       <div class="caption">
      <p class="name-img-projets-print">{{projetprint.images|truncate(10, false)}}</p>
      </div>
      </div>
      </div>
      <div class="col-md-8 project-description-print">
          <table class="table">
         <thead> 
         <tr>
             <th class="col-md-1">id</th>
              <th class="col-md-2 title-nom-project">Nom</th>
              <th class="col-md-4 sep-status">Status</th>
              <th class="col-md-5 action-project">Actions</th>
          </tr>
         </thead>
          </table>
          <div class="col-md-1">
              <p class="id-project">{{projetprint.id}}</p>
          </div>
          <div class="col-md-2 btn-action-publier">
      <h2 class="">{{projetprint.titre}}</h2>
      <p class="">{{projetprint.description}}</p>
          </div>
          
      {% if projetprint.publier ==[1] %}
           <div class="col-sm-6 col-md-4">
 <div class= "alert alert-success" role= "alert" > <strong> Ok </strong> bien publié
</div>
</div>
     {% else %}
                         <div class="col-sm-6 col-md-4">
 <div class= "alert alert-danger" role= "alert" > <strong> Oups! </strong> non publié 
 </div>
</div>
                         
      {% endif %}
    
      <div class="col-md-5 btn-projet">
            <a class="btn btn-primary" href="{{path("modifprint",{"id":projetprint.id})}}">Editer</a>
            <a class="btn btn-info" href="{{path("detailprojetsprint",{"id":projetprint.id})}}">Détail</a>
             {% if projetprint.publier ==[1] %}
                  {% else %}
            <a class="btn btn-success" href="{{path("publiprint",{"id":projetprint.id})}}"data-confirm="Tes sur de vouloir publier {{projetprint.titre}} ?">Publier</a>
             {% endif %}
            {#<a class="btn btn-warning" href="{{path("suppprint",{"id":projetprint.id})}}">Enlever</a>#}
            <a class="btn btn-danger" href="{{path("delateprint",{"id":projetprint.id})}}"data-confirm="Tes sur de vouloir supprimer {{projetprint.titre}} ?">Suppr</a>
            </div>
    </div>
  
            </div>

 
 {% endfor %}
 </div>
   </div>
</div>
{% endblock%}
