{% extends ":admin:index.html.twig"%}

{% block body %}
     {% block nb %}   
      {% endblock%}
{% block workweb %}
    {% endblock%}        
 {% block workprint %}
        {% endblock%}
 {% block workgalerie %}
        {% endblock%}

     <div class="project-content">
       {% block ariane %}
             <ol class=" ariane-admin breadcrumb">
  <li class="txt-color-primary"><a href="{{path('admin')}}">Home</a></li>
  <li class="txt-color-primary"><a href="{{path('projects')}}">Travaux web</a></li>
    {% for projet in projects %}
  <li  class="active">Détail {{projet.titre}}</li>
</ol>
 {% endfor %}
             {% endblock %}
       <div class="container-fluid">  
   <div class="container project-admin">
       
         
        <div class="row">
       {% for projet in projects %}
   
      <div class="col-sm-6 col-md-12">
      <img src="{{asset('uploads/img/')~projet.images}}" class="img-responsive img">
        <h2 class="">{{projet.titre}}</h2>
     
      <p class="">{{projet.descriptif}}</p>
       <img src="{{asset('uploads/img/')~projet.imgPresentation}}" class="img-responsive img">
        <h2 class="">{{projet.descriptionSociete}}</h2>
     
     
      <p class="">{{projet.annee|date('d/m/y')}}</p>
       <p class="">{{projet.realisations}}</p>
       <img src="{{asset('uploads/img/')~projet.imgLogo}}" class="img-responsive img">
        <img src="{{asset('uploads/img/')~projet.imgTemplate}}" class="img-responsive img">
         <p class="">{{projet.descriptionTemplate}}</p>
          <p class="">{{projet.lienSite}}</p>
      
      <div class="btn-projet">
            <a class="btn btn-primary" href="{{path("modif",{"id":projet.id})}}">Editer</a>
            <a class="btn btn-danger" href="{{path("delate",{"id":projet.id})}}"data-confirm="Tes sur de vouloir supprimer?">Suppr</a>
            </div>
           
    </div>


 
 {% endfor %}
 
        </div>
 </div>
</div>


     </div>
{% endblock%}



