{% extends ":admin:index.html.twig"%}

{% block body %}
     
            <a href="{{path("form")}}"><h1 class="add-work">ajouter un detail web</h1> </a>
     <div class="project-content">   
   <div class="container project">
        <div class="row">
       {% for projet in projects %}
   
      <div class="col-sm-6 col-md-12">
     <img src="{{projet.imgPresentation}}" class="img-responsive img col-md-5">
        <h2 class="">{{projet.descriptionSociete}}</h2>
     
     
      <p class="">{{projet.annee}}</p>
       <p class="">{{projet.realisations}}</p>
        <p class="">{{projet.imgTemplate}}</p>
         <p class="">{{projet.descriptionTemplate}}</p>
          <p class="">{{projet.lienSite}}</p>
      <div class="btn-projet">
            <a class="btn btn-primary" href="{{path("modif",{"id":projet.id})}}">Modifier</a>
            <a class="btn btn-danger" href="{{path("delate",{"id":projet.id})}}">Supprimer</a>
            </div>
           
    </div>


 
 {% endfor %}
 </div>
</div>
 
     </div>
{% endblock%}


