{% extends ":admin:index.html.twig"%}

{% block body %}
     
            <a href="{{path("form")}}"><h1 class="add-work">ajouter un projet web</h1> </a>
     <div class="project-content">   
   <div class="container project">
        <div class="row">
       {% for projet in projects %}
   
      <div class="col-sm-6 col-md-12">
      <img src="{{asset('uploads/img/')~projet.images}}" class="img-responsive img col-md-5">
        <h2 class="">{{projet.titre}}</h2>
     
      <p class="">{{projet.descriptif}}</p>
      
      <div class="btn-projet">
            <a class="btn btn-primary" href="{{path("modif",{"id":projet.id})}}">Modifier</a>
            <a class="btn btn-success" href="{{path("publiweb",{"id":projet.id})}}">publier</a>
            <a class="btn btn-warning" href="{{path("suppweb",{"id":projet.id})}}">Enlever</a>
            <a class="btn btn-danger" href="{{path("delate",{"id":projet.id})}}">Supprimer</a>
            <a class="btn btn-info" href="{{path("projectsdetail",{"id":projet.id})}}">detail</a>
            </div>
           
    </div>


 
 {% endfor %}
 

 </div>
</div>
 
     </div>
{% endblock%}


