{% extends ":admin:index.html.twig"%}

{% block body %}
          {% block nb %}   
      {% endblock%}
     <div class="project-content">
     
          {% block ariane %}
             <ol class=" ariane-admin breadcrumb">
  <li><a href="{{path('admin')}}">Home</a></li>
  <li  class="active">Travaux Web</li>
</ol>
             {% endblock %}
             <div class="container-fluid">
   <div class="container project-admin">
       
         
        <div class="row">
       {% for projet in projects %}
       <div class="project-img">
      <div class="col-md-4">
      <img src="{{asset('uploads/img/')~projet.images}}" class="thumbnail-project img-responsive">
      </div>
      <div class="col-md-8 project-description">
          <table class="table">
         <thead> 
         <tr>
             <th class="col-md-1">id</th>
              <th class="col-md-2 title-nom-project">Nom</th>
              <th class="col-md-4 sep-status">Status</th>
              <th class="col-md-5 action-project">Actions</th>
          </tr>
         </thead>
          </table>
           <div class="col-md-1">    
        <p class="id-project">{{projet.id}}</p>
          </div>
          <div class="col-md-2 btn-action-publier">    
        <h2 class="">{{projet.titre}}</h2>
      <p class="">{{projet.descriptif}}</p>
          </div>
             {% if projet.publier ==[1] %}
           <div class="col-sm-6 col-md-4">
 <div class= "alert alert-success" role= "alert" > <strong> Ok </strong> bien publié
</div>
</div>
           {% else %}
                         <div class="col-sm-6 col-md-4">
 <div class= "alert alert-danger" role= "alert" > <strong> Oups! </strong> non publié 
</div>
</div>
           {% endif %}
      <div class="col-md-5 btn-projet">
            <a class="btn btn-primary" href="{{path("modif",{"id":projet.id})}}">Editer</a>
             <a class="btn btn-info" href="{{path("detailprojetsweb",{"id":projet.id})}}">Détail</a>
             {% if projet.publier ==[1] %}
           
            {% else %}
                <a class="btn btn-success" href="{{path("publiweb",{"id":projet.id})}}"data-confirm="Tes sur de vouloir publier {{projet.titre}} ?">Publier</a>
                 {% endif %}
           {# <a class="btn btn-warning" href="{{path("suppweb",{"id":projet.id})}}">Enlever</a>#}
            <a class="btn btn-danger" href="{{path("delate",{"id":projet.id})}}"data-confirm="Tes sur de vouloir supprimer {{projet.titre}} ?">Suppr</a>
            </div>               
    </div>
       </div>
     
 
 {% endfor %}
 

 </div>
</div>
             </div>

     </div>
{% endblock%}
     {% block workweb %}
        {% endblock%}
      {% block workprint %}
        {% endblock%}
 {% block workgalerie %}
        {% endblock%}